body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
  text-align: center;
}

.Img-card {
  background: white;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.Img-card img {
  width: 100%;
  border-radius: 20px;
}
.header {
    display: flex;
    align-items: center;
    background: #0077cc;
    color: white;
    padding: 12px;
    
}

.back {
    color: white !important;   /* ตัวนี้แก้ปัญหาคุณตรงจุด */
    font-size: 22px;
    text-decoration: none;
    margin-right: 12px;
}

.title {
    font-size: 18px;
}
.script {
            max-width: 900px;
            padding: 32px 40px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 16px;
            backdrop-filter: blur(10px);
            
        }